*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Header {
  border: 2px solid black;
  background-color: green;
  padding: 3%;
  color: white;
}

.liItem {
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
  background-color: teal;
  color: white;
  margin: 3%;
}

.TodoItem__delete {
  padding: 1%;
  color: red;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10%;
}

.TodoItem__toggle {
  padding: 1%;

  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10%;
}

.ItemsDone li {
  background-color: grey;
}
